@font-face{
    font-family: NanumGothicCodingR;
    src:url("/font/NanumGothicCoding-Regular.ttf") format("truetype");
    font-style:normal;
}
body * { font-family: NanumGothicCodingR;}

/* 공통 */
ul { list-style-type: unset; padding:0;}
.pRelative{ position:relative;}
.swiper-btn-wrap{ position: absolute; bottom: 0; height: 35px; width: 83%; background: #000; z-index: 99; left: 50%; transform: translateX(-50%); }
.description{ font-size:18px; text-align: center; height:170px; word-break: keep-all;}
.swiper-button-next { text-align: right;}
.swiper-button-next, .swiper-button-prev { top:25px; color:#fff; height:35px;}
.swiper-button-next:after, .swiper-button-prev:after{ width:10vw; font-size:24px;}
.wrap{ min-height: 600px; max-height: 700px; overflow: hidden; position: relative; max-width: 325px; margin: 0 auto;}
.bg{ position: absolute; top: 145px; left: 0; width: 100%; background: #fff; }
.bg img { margin:0 auto; display:block; max-width:100%; }
.swiper-wrapper{ margin-top:20px; }
.swiper-container{ width: 265px; min-height: 600px;}
.strong{ font-size:28px; font-weight:bold; }
.title{padding:0 15px 10px; margin: 25px 0 10px;}
/* 1st Slide */
.cont-box-bg{ padding:0 7px; }
.s1 .cont-box .googleImg{ width: 50%; margin: 0 auto; display: block;}
.s1 .description {text-align: center;}
.s1 .title{ display: flex; justify-content: space-between; font-size:16px; padding:0 10px; }
.s1 .title i { padding: 0 5px; font-size:18px; }
.s1 .content { padding:15px; position: relative; }
.s1 .content .top1 { display:flex; }
.s1 .content .top1 .colorGray{ font-size: 11px; color: #8a8a8a; line-height: 11px; display: inline-block; margin-top: 5px; font-family: sans-serif; }
.s1 .content .top1 .install{
    position: absolute;
    right:20px;
    top:15px;
    background:green;
    color:#fff;
    padding:2px 10px;
    border-radius: 5px;;
    font-size:12px;
}
.s1 .content .top1 > img { width:50px; height:50px; border-radius: 10px; box-shadow: 0px 0px 5px #5f5f5f; margin-right:10px;}
.s1 .content .box-wrap { overflow:hidden;}
.s1 .content .box{ overflow-x: scroll; width:max-content; margin-top:15px;}
.s1 .content .box img { width:16.33%; margin-right:10px;}
.s1 .content .box-description { color:#909090; font-size:14px; margin-top:20px;}
/* 2nd Slide */
.s2 .imageBox { display: flex; flex-wrap: wrap; max-height:305px; overflow-y: scroll;}
.s2 .imageBox > div{ width: 32.333%; overflow: hidden; height: 90px; border: 1px solid #fff;}
.s2 .title{ display: flex; justify-content: space-between; align-content: center; border-bottom:1px solid #cecece; }
.s2 .title i {font-size:20px;}
.s2 .c1 { display: flex;}
.s2 .c1 > div{ width: 100%; padding: 0 10px; display: flex; font-size: 12px; align-items: center;}
.s2 .c1 > div > div{ position: relative; text-align: center; margin:0 5px; }
.s2 .c1 > div > div::after{ content: " "; height:10px; position: absolute;}
.s2 .c1 .colorGray{ color:#b2b2b2; margin-top: 5px; display: inline-block;}
.s2 .c1 > img { width: 50px; height:50px; border-radius: 50%; margin-left:10px;}
.s2 .porfile{ margin:10px; display: flex; justify-content: space-between;}
.s2 .porfile .edit { font-size:12px; border:1px solid #b2b2b2; border-radius: 5px; padding:2px 5px;}
.s2 .imgTitle { margin-top:10px; margin-left:5px;}
.s2 .new {color: #ff7905; text-shadow: 1px 1px 5px #c38371; position: absolute; top: -5px;}

/* 3rd Slide */
.s3 .title { border: 1px solid #cecece; border-radius: 10px; padding: 5px 10px; color:#b2b2b2;}
.s3 .title i { margin-right:5px;}
.s3 .div1 {padding:0 10px; font-size:12px;}
.s3 .div2 ul { padding:10px 5px; width:100%; margin:0; height:45px;}
.s3 .div2 ul li { padding:2px 5px; border:1px solid #b2b2b2; border-radius: 10px; margin: 0 5px; float:left; }
.s3 .arccordion {color:#fff;border-top:1px solid #fff;}
.s3 .arccordion i{ transform: rotate(-90deg); opacity: 0.7; font-size: 16px;}
.s3 .arccordion .arccordion-btn{ background:#e65026;  padding:5px 10px;  display:flex; justify-content: space-between;}
.s3 .arccordion.category{ border-bottom:1px solid #b2b2b2;}
.s3 .arccordion .content { display: none; background:#fff; color:#000;}
.s3 .plzHelp{ padding:10px; margin-top:10px;}
.s3 .arccordion i.arrow-animate { transform: rotate(0deg); opacity: 1; }
.s3 .content ul { margin:5px 0; padding:0 10px; display: flex; flex-wrap: wrap;}
.s3 .content ul li { margin:3px 5px;}
.s3 .cont-wrap{ margin-top:10px; max-height:155px; overflow-y:scroll;}
.s3 .cont { margin-bottom:10px; display: flex;}
.s3 .cont > div { padding:10px; font-size:14px;}
.s3 .cont > img { width:140px;}

/* 4rd Slide */
.s4 .cont-box-bg > .title{ display: flex; justify-content: space-between; align-content: center; border-bottom:1px solid #cecece; }
.s4 .box .title { margin:5px 0; padding:0 5px; display: flex; justify-content: space-between;}
.s4 .box .title span { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.s4 .box .description { height:auto; text-align: left; font-size:12px;}
.s4 .box { padding:5px; border-radius: 10px; color:#fff; margin:5px 0;}
.s4 .cont-box-bg > .box{ background:lightcoral;}
.s4 .cont-box-bg > .box.common{ background:rgb(20 163 247);}
.s4 .cont-box-bg > .box.oddNum{ background:#8089f0;}




@media (max-width:767px){
}